<div class="container">
  <h1>Here is your Question:<%= params[:question] %></h1>
  <h2>Your Coach says: <%= @answer %></h2>
  <p class="btn btn-primary btn-block bg-success my-2"><%= link_to "Ask one more question!", ask_path %></p>
</div>
