<div class="container">
  <h1>Ask a question to your favorite coach!</h1>

  <form action="/answer" class="form-group">
    <input type="text" name="question" class="form-text text-muted form-control"  >
    <input type="submit" value="Ask!" class="btn btn-primary my-2 w-100">
  </form>

</div>
